Cada estamos definindo X

In [11]:
import pandas as pd
import seaborn as sns
from sqlalchemy import engine
import pandasql as sqldf

table = pd.read_csv('SamsungVentas.csv')

table

,Año,Trimestre,Modelo de Producto,Capacidad 5G,Unidades Vendidas,Ingresos ($),Cuota de Mercado (%),Cobertura Regional 5G (%),Suscriptores 5G (millones),Velocidad Promedio 5G (Mbps),Preferencia por 5G (%),Región
0,2019,Q1,Galaxy S10,No,26396,4.212951e+06,1.04,57.36,39.55,293.10,55.87,Asia-Pacific
1,2019,Q1,Galaxy Note10,No,25671,7.240266e+06,2.82,85.80,42.58,67.46,37.26,Latin America
2,2019,Q1,Galaxy S20,No,16573,2.560833e+07,-0.03,47.02,3.78,77.25,84.66,Middle East & Africa
3,2019,Q1,Galaxy Note20,No,7177,2.198442e+07,0.84,25.70,23.41,105.27,40.03,North America
4,2019,Q1,Galaxy S21,No,45633,1.634244e+07,2.36,89.13,44.43,206.17,76.88,Latin America
...,...,...,...,...,...,...,...,...,...,...,...,...
763,2023,Q4,Galaxy S22 5G,Yes,36216,2.995937e+07,3.82,70.59,46.92,177.43,63.86,Latin America
764,2022,Q2,Galaxy S21,No,33806,2.369938e+07,-0.23,77.31,47.51,129.70,78.41,North America
765,2022,Q1,Galaxy S10,No,23678,2.330203e+07,0.58,45.61,43.79,156.56,72.06,Europe
766,2023,Q4,Galaxy Note10,No,35697,1.946256e+07,2.49,36.55,36.44,236.39,47.11,North America
767,2020,Q4,Galaxy Note20,No,7473,1.962177e+07,3.88,74.66,27.55,177.22,72.36,North America

In [10]:
table.describe()

,Año,Unidades Vendidas,Ingresos ($),Cuota de Mercado (%),Cobertura Regional 5G (%),Suscriptores 5G (millones),Velocidad Promedio 5G (Mbps),Preferencia por 5G (%)
count,768.000000,768.000000,7.680000e+02,768.000000,768.000000,768.000000,768.000000,768.000000
mean,2021.434896,33259.238281,3.037006e+07,3.781263,67.073659,30.150443,178.147083,66.893346
std,1.702343,15797.155892,1.830669e+07,1.978378,18.871854,14.414769,70.455919,15.940060
min,2019.000000,5309.000000,2.987436e+06,-0.490000,25.340000,-0.890000,50.370000,37.140000
25%,2020.000000,20683.000000,1.463126e+07,2.650000,50.995000,18.517500,117.920000,52.915000
50%,2021.000000,34090.000000,2.825161e+07,3.820000,67.710000,29.730000,177.220000,66.600000
75%,2023.000000,43911.000000,4.183322e+07,5.360000,83.060000,44.470000,237.560000,81.110000
max,2024.000000,64883.000000,8.426494e+07,6.950000,103.920000,54.940000,298.700000,94.840000

In [ ]:
query = "SELECT * FROM table GROUP BY Capacidad 5G ? "

table = sqldf(query, globals())
table

TypeError: 'module' object is not callable